img{
    width: 100%;
    aspect-ratio: 5/3;
}

.picture {
    display: none;
}

.active {
    display: block;
}

.carosello .carosello-chevron {
    font-size: 60px;
    position: absolute;
}

.carosello {
    position: relative;
}

.arrow-left {
    left: 50px;
    top: 50%;
    transform: translatey(-50%);
    color: white;
}

.arrow-right {
    right: 50px;
    top: 50%;
    transform: translatey(-50%);
    color: white;
}

.title-img {
    position: absolute;
    top: 70%;
    left: 64%;
    color: aliceblue;
}

.text-img {
    position: absolute;
    top: 80%;
    left: 51%;
    color: aliceblue;
    margin-bottom: 0;
}