img{
    width: 100%;
    aspect-ratio: 5/3;
}

.picture {
    display: none;
}

.active {
    display: block;
}

.carosello .carosello-chevron {
    font-size: 60px;
    position: absolute;
}

.carosello {
    position: relative;
}

#arrow-left {
    left: 50px;
    top: 50%;
    transform: translatey(-50%);
    color: white;
}

#arrow-right {
    right: 50px;
    top: 50%;
    transform: translatey(-50%);
    color: white;
}

.title-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    color: aliceblue;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 50px;
    color: azure;
}

.text-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    color: aliceblue;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 20px;
    color: beige;
}