img{
    width: 100%;
}

.picture {
    display: none;
}

.active {
    display: block;
}

.carosello .carosello-chevron {
    font-size: 60px;
    position: absolute;
}

.carosello {
    position: relative;
}

.arrow-left {
    left: 50px;
    top: 50%;
    transform: translatey(-50%);
    color: white;
}

.arrow-right {
    right: 50px;
    top: 50%;
    transform: translatey(-50%);
    color: white;
}